/* font-family: 'Hi Melody', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
  background-color: #effcef;
}
h1 {
  font-family: "Hi Melody", cursive;
  font-size: 3rem;
  color: #655c56;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #655c56;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #00b386;
  font-size: 1.5rem;
}
a {
  color: #d2691e;
}
p {
  line-height: 2;
}
#i {
  font-family: "Hi Melody", cursive;
  font-size: 2rem;
}
#design {
  text-decoration: underline;
}
.top-container {
  background-color: #effcef;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.bottom-container {
  background: #655c56;
  padding: 20px 0px 16px 0px;
}
.top-cloud {
  position: absolute;

  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;

  left: 300px;
  bottom: 360px;
}
.mountain {
  margin-top: 50px;
  margin-bottom: 60px;
}
.skill-row {
  width: 50%;
  margin: 50px auto;
}
.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.investing {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.coding-text {
  text-align: left;
}
.investing-text {
  text-align: right;
}

.profile-img {
  width: 15%;
}
.intro {
  width: 35%;
  margin: auto;
}
hr {
  border-top: dotted rgba(101, 92, 86, 0.5) 6px;
  width: 5%;
  margin: 0 auto 20px auto;
}
.contact-msg {
  width: 40%;
  margin: 40px auto 40px auto;
}
.self {
  font-size: 1rem;
}
.profile {
  margin: 30px auto 50px auto;
}
#nibblepop {
  text-decoration: none;
  font-style: italic;
}
#hello {
  color: #40514e;
}
.skill-row h3 {
  color: #00b386;
}
.contact-me {
  margin-top: 70px;
}
.contact-me h3 {
  font-size: 1.2rem;
}
.skills {
  margin: 50px auto 70px auto;
}
.btn {
  text-decoration: none;
  background: #63b7af;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  border-radius: 8px;
  color: #effcef;
  text-shadow: 1px 1px 20px #000000;
  box-shadow: 1px 1px 8px 0px #000000;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  text-decoration: underline;
  text-shadow: 5px 5px 50px #ffffff;
}
.footer-link {
  margin: 20px;
  color: #effcef;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.footer-link:hover {
  color: white;
  text-decoration: underline;
  text-shadow: 5px 5px 50px #ffffff;
}

.copy {
  color: #effcef;
  font-size: 0.8rem;
  padding-top: 20px;
  margin: 0px;
}
.phone-mail {
  margin: 20px;
}
.emoji {
  font-size: 1.5rem;
}
